.todolist {
  width: 400px;
}

.todolist-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border: 1px solid black;
}

.todolist-item-text {
  margin-right: 10px;
}

.todolist-item-button {
}
